.features {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 50%;
}

.intro {
    margin-bottom: 0;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10%;
}

section {
    margin-bottom: 50px;
}

strong {
    font-size: large;
}

.heading {
    margin-bottom: 0;
}


#Name {
    margin-bottom: 15px;
}

.moto {
    font-size: 15px;
}